:root {
/*  --fh: #00b1ab;*/
  --fh: #00b2a9;
  --c1: #005eb1;
  --c2: #d17d00;
  --c3: #4db100;
  --c4: #7000b1;
}


html {
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0;
    margin-top:70px;
    background-color: #ddd;
    font-family: "Times","Times New Roman", serif;
}
a {
    color: var(--fh);
}

/*
input {
    float:left;
}
body {
    float:left;
}
*/
#vertical_line {
    /*height:100%;*/
    top: 40px;
    bottom:40px;
    position: absolute;
    right:335px;
    border-left:2px solid #ddd;
}
#print_container #vertical_line {
    visibility: hidden;
}
#content {
    /*border: 1px solid yellow;*/
    width: 1150px;
    margin-left:20px;
    float:left;
    position: absolute;
    box-shadow: 0px 0px 18px #aaa;
    background-color: white;
    hyphens: auto; 
	text-align: justify
}
#print_container #content {
    box-shadow: 0px 0px 0px #fff;
    width:800px;
}

#paper {
    /*border:1px solid red;*/
    width:700px;
    float:left;
    padding:30px 30px 50px 70px;
}
#print_container #paper {
    padding:0 0 0 0;
}
#header {
    position: fixed;
    height:50px;
    line-height: 50px;
    width:100%;
    background-color: white;
    top:0px;
    vertical-align: middle;
    padding-left:40px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ddddddaa;
    z-index: 10;
    font-family: "Helvetica Neue","Helvetica",sans-serif;
}

#span_title{
    font-size: 25px;
    /* margin-left: 90px; */
    /* position: absolute; */
    margin: 0 auto;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    
}
#toolbar {
    position: absolute;
    top: 0px;
    /*left:10px;*/

}
.navbar_button {
    background-color: white;
    color:#444;
    padding: 0 10px 0 10px;
    cursor: pointer;
    float:left;
    margin:0 2px 0 2px;
    border-bottom: 1px solid #ddd;

    
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.navbar_button:hover {
    background-color: #ddd;
}
.navbar_button:active {
    background-color: #ccc;
}
#logo {
    height:40px;
    right:50px;
    position: absolute;
}
.darkmode_icon {
    height:30px;
    width:30px;
    background-image: url(assets/darkmode.png);
    /*border:1px solid red;*/
    position: absolute;
    right:55px;
    top:10px;
    background-size: contain;
    opacity: 75%;
    cursor: pointer;
}
.darkmode_icon:hover{
    opacity: 100%;
}
#kontakt {
    background-color: white;
    padding:20px;
    padding-top:120px;
    margin-bottom:20px;
    margin-top:-120px;
    text-align: center;
    box-shadow: 0px 0px 10px #00000033;
    
}
.alert {
    z-index: 10;
    background-color: white;
    top:100px;
    width:700px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #00000033;
    padding: 20px;
    
    
}

.grafik {
    width:100%;
    /*position: absolute;*/

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.grafik-container {
    /*border: 1px solid red;*/
    height:100%;
    
    /*margin-left:870px;*/
    /*margin-right:-365px;*/
    /*float:right;*/
    width:300px;
    position: -webkit-sticky;
    position: sticky;
    top:250px;
}

#print_container .grafik-container {
    min-height: 240px;
    /*border:1px solid #ddd;*/
    padding:20px 207px 20px 20px;
    border-radius: 5px;
    position: relative;
    top:0px;
}

.grafik-container-inner {
    /*border:1px solid green;*/
    position: absolute;
    width:300px;
    left:770px;
    background-color: white;
    white-space: nowrap;
    top:-200px

    /*text-align: center;*/

}
.gc_title {
    /*font-family: sans-serif;*/
    font-size: 0.9em;
    margin-top: 12px;
    color:#333;
    font-style: italic;
    
}




#container {
    margin: 0 auto;
    width:1200px;
}
#print_container {
    margin:0 auto;
}
#range1 {
    z-index: 2;
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 0px;
}
.nowrap {
    position: absolute;
    top:0px;
    left:0px;
}
.hidden {
    visibility: hidden;
    position:absolute;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#canvas1 {
    
    border:1px solid yellow;
    
    width:300px;
    
    height:300px;
}
#svg1{
        /*border:1px solid red;*/
    width:300px;
    height:300px;

}
line, ellipse, polyline, circle {
    stroke:black;
    stroke-width:1px;
    fill:transparent;
}
.point {
    fill:black;
    stroke-width:0px;
}
.color1 {
    color: var(--c1);
    stroke: var(--c1);
    stroke-width:3px;
}
.color2 {
    color: var(--c2);
    stroke: var(--c2);
    stroke-width:3px;
}
.color3 {
    color: var(--c3);
    stroke: var(--c3);
    stroke-width:3px;
}
.color4 {
    color: var(--c4);
    stroke: var(--c4);
    stroke-width:3px;
}


.arrow {
    fill:black;

}
.arrow.color1 {
    fill: var(--c1);
}
.arrow.color2 {
    fill: var(--c2);
}
.arrow.color3 {
    fill: var(--c3);
}
.arrow.color4 {
    fill: var(--c4);
}



/*
#line1 {
    stroke:red;
}
#koord_line1 {
    stroke:red;
}
#line2 {
    stroke:green;
}
#line3 {
    stroke:blue;
}
*/

@page {
    margin: 2cm 2cm 2cm 0.5cm;
    /*size:210mm 297mm; */ 
    size: A4;
    h1 {
        page-break-before: always;
    }
    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    } 
}
@media print {
    body{
        zoom:120%;
    }
}




/*
@media print {
    body{
        width:600px;
    }
}

html, body {
    min-height: 100%;
}
*/

.qr_container{
    position: absolute;
    left: 528px;
    width: 100%;
    /* height: 100px; */
    z-index: 20;
    border: 1px solid #ddd;
    width:150px;
    top:5px;
    padding:10px;
    border-radius: 3px;   
}

.qr_title {
    /*overflow-wrap: anywhere;*/
    overflow-wrap: break-word;
    /* border: 1px solid #ddd; */
    font-size: 70%;
    text-align: center;
    margin:0 auto;
}
.qrcode{
    border:1px solid red;
    margin:0 auto;

}


.lernziel, .motivation, .wiederholung, .beispiel, .zusammenfassung, .aufgabe, .anmerkung {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 00px 30px 15px 30px;
    margin: 20px 00px 20px 50px;
    background-color: #f6f6f6;

}
#print_container .lernziel, #print_container .motivation,#print_container .wiederholung, #print_container .beispiel, #print_container .zusammenfassung,#print_container .aufgabe, #print_container .anmerkung {
    background-color: #fff;
}
.highlight_box_title {
    /*color: var(--fh);*/
    font-size: 1em;
    font-weight: bold;
    margin:10px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
}
.highlight_box_img {
    position: absolute;
    margin-left: -80px;
    margin-top: -40px;
    height:38px;
}


h2 {
    color: var(--fh);
}
#print_container h2 {
    color: black;
}

.fo_inner{
    float:left;
    text-shadow: 0px 0px 5px white;
    margin-top:0px;
    /*border:1px solid blue;*/
    
    /*position: fixed;*/
}
.fixed {
    /*Bug Fix for Safari*/
    /*position:fixed;*/
    margin-top:150px;
    margin-left:150px;
}




/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 150px;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}


/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #ccc;
   border-radius: 5px;
/*border:1px solid #ccc;*/
   height: 4px ;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -6px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: var(--fh);
   height: 1rem;
   width: 1rem;
    border-radius:10px;
}

input[type="range"]:focus::-webkit-slider-thumb {  
    /*
  border: 1px solid #ddd;
  outline: 3px solid #ddd;
  outline-offset: 0.125rem; 
    
    background-color: green;
    */
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #ccc;
   border-radius: 5px;
   height: 4px;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   appearance: none;
   margin-top: -6px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: var(--fh);
   height: 1rem;
   width: 1rem;
    border-radius:10px;
    border-width: 0px;
}

input[type="range"]:focus::-moz-range-thumb {
    /*
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
    */
}

	/*Track fill*/
/*
input[type="range"]::-ms-fill-lower {
  background-color: red; 
}

input[type="range"]::-ms-fill-upper {  
  background-color: blue;
}
input[type="range"]::-moz-range-progress {
  background-color: red; 
}

input[type="range"]::-moz-range-track {  
  background-color: blue;
}
*/


/*******RADIO BUTTON*******/
/* The container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ddd;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: var(--fh);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
 	top: 6px;
	left: 6px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}

#zoom_overlay {
    position: fixed;
    width:100%;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: #000000cc;
    z-index: 20;
    height:100%;
}
#zoom {
    width:510px;
    height:500px;
    /*border:1px solid red;*/
    z-index: 21;
    position: fixed;
    /*bottom:20px;*/
    /*left:450px;*/
    margin: auto;
    /*top:20px;*/
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px #000000dd;
    border-radius: 5px;
    overflow: scroll;
    overflow-y: scroll;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

#zoom_content {

    transform-origin: top left;
    position:static;
    width:300px;
    z-index: 21;
    /*border:1px solid green;*/
}
.zoom_button {
    width:25px;
    height:25px;
    right:5px;
    top:5px;
    position: absolute;
    background-size: contain;
    cursor: pointer;
    z-index: 2;
}
.zoom_maximize {
    background-image: url(assets/maximize.png);
}
.zoom_minimize {
    background-image: url(assets/minimize.png);
}



.no_scroll {
    overflow:hidden;
}
#toc_content a {
    text-decoration: none;
}
#toc_content a:hover {
    text-decoration: underline;
}

#toc_overlay {
    position: fixed;
    top:50px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color: #00000033;
    z-index: 9;
}
#toc_content {
    position:fixed;
    max-width:500px;
    padding:20px;
    top:50px;
    bottom:0px;
    /*left:0px;*/
    background-color: white;
    z-index:10;
    /*border:1px solid orange;*/
    box-shadow: 0px 15px 18px #aaa;
    overflow-y: scroll;

}
#toc_content.toc_show {
    animation-name: toc-show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
#toc_content.toc_hide {
    animation-name: toc-show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes toc-show {
  from {transform: translateX(-500px)}
  to {transform: translateX(0px);}
}
@keyframes toc-hide {
  from {transform: translateX(0px)}
  to {transform: translateX(-500px)}
}
@keyframes test {
  from {background-color: white;}
  to {background-color: red;}
}
@keyframes example {
  from {background-color: red;}
  to {background-color: yellow;}
}
.toc_H1, .toc_H2, .toc_H3, .toc_H4 {
    line-height: 1.5;
}
.toc_H1 { margin-left:0px; }
.toc_H2 { margin-left:40px; }
.toc_H3 { margin-left:80px; }
.toc_H4 { margin-left:120px; }


#print_instruction {
    border: 1px solid #3f7c79;
    background-color: #00b2a9;
    color: white;
    border-radius: 5px;
    margin: 50px 0px 40px 20px;
    padding: 20px;
    width: 662px;
}
@media print {
    #print_instruction {
        display: none !important;
    }
}

#print_instruction li {
    list-style-type: disc;
    list-style-position: initial;
    text-indent: -1em;
    padding-left: 1em;
    /* line-height: 1.6em; */
    height: auto;
    padding-bottom: 8px;
    /* font-family: sans-serif; */
    font-size: 110%;
}


/***********  USER STYLES   ************/

#line1_phi0 {
    stroke-dasharray:4px;
}
#line9_x, #line9_y {
    stroke-dasharray:4px;
}
#gc9 .grafik-container-inner{
    /*margin-top:100px;*/
    
}

#img4-1 {
    width:100%;
}
#gc6 .grafik-container-inner{
    margin-top:400px;
    
}

#print_container #gc6 .grafik-container-inner{
    margin-top:50px;
    
}
#bild7 {
    width:70%;
}
#poly8_tail {
    stroke: #00000055;
}

